<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

<header class="header">
    <h1>Контрольная работа по компьютерной лингвистике. </h1>
</header>

<main>
    <h2>Статьи:</h2>
    <div class="articles">

        {% for message in articles %}
        <div class="article">
            <a href={{ message.link }}> {{ message.title }}</a>

            <time>{{ message.date }}</time>
            <p>{{ message.text }} </p>

            <div class="info">
                <div class="facts">
                    <button class="getFacts" data-id="{{ message._id }}">Получить предложения с фактами</button>
                    {% if message.sequences != '' %}
                    <h4> Обработка текста через tomita не была запущена на этой новости</h4>
                    {% else %}
                    <div id="fact_{{ message._id }}"><p> {{ message.sequences }} </p></div>
                    {% endif %}
                </div>

                <div class="tonality">
                    <button class="getTonality" data-id="{{ message._id }}">Запустить анализ тональности</button>
                    {% if message.tonality != '' %}
                    <h4> Тональность текста не определена </h4>
                    {% else %}
                    <div id="tonality_{{ message._id }}"><p> {{ message.tonality }} </p></div>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</main>

</body>
</html>

